# ───── FRONTEND / REACT IGNORE ─────
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/.cache/

frontend/coverage
frontend/build

# React environment files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# React logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ───── BACKEND / DJANGO IGNORE ─────
venv/
__pycache__/
*.py[cod]
*.sqlite3

# ───── SYSTEM IGNORE ─────
.DS_Store
*.log

# ───── GLOBAL ENV FILES ─────
.env
